*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(#3C2A21,#1A120B);
     */
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    display: grid;
    place-items: center;
}
h1{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(224, 132, 132);
    padding: 5px 20px;
    border-radius: 20px;
}
.image{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 50%;
  height: 100%;
  position: relative;
  padding-top: 100%;
  padding-right: 90%;
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 5px 10px 30px rgba(255,255,255,0.4);
  color: white;
}
.submit{
    width: fit-content;
    padding: 7px 15px;background-color: rgb(224, 132, 132);
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: Aileron Thin;
}
p{
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    text-align: left;
}
input{
    display: block;
    margin-bottom: 10px;
    background-color: rgb(224, 132, 132);
    border: none;
    padding: 2px 5px;
    border-radius: 20px;
}
.id{
    font-size: 60px;
    font-family: Aileron Thin;
    margin-bottom: 10px;
    margin-left: -10px;
}
.name{
    font-size: 30px;
    font-family: Aileron Thin;
    margin-bottom: 10px;
}
.email{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 178, 217);
    margin-bottom: 10px;
}
.house{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}